@font-face {
  font-family: 'orbitron';
  src: url('../fonts/orbitron-normal-normal.ttf');
}

@font-face {
  font-family: 'orbitron';
  src:  url('../fonts/orbitron-bold-normal.ttf');
  font-weight:bold;
}

@font-face {
  font-family: 'yellowtail';
  src: url('../fonts/yellowtail-normal-normal.ttf');
}
p{
  font-weight: lighter;
}
a{
  color: inherit;
}
a:focus, a:hover{
  color: inherit;
  text-decoration: none;
}
.padding-top-90{
	padding-top: 90px;
}
.padding-top-60{
  padding-top: 60px;
}
.padding-top-30{
  padding-top: 30px;
}
.margin-top-30{
	margin-top: 30px;
}
.margin-top-60{
	margin-top: 60px;
}	
.margin-top-90{
	margin-top: 90px;
}
.margin-top-180{
	margin-top: 180px;
}
.margin-bottom-30{
  margin-bottom: 30px;
}	
.margin-bottom-60{
	margin-bottom: 60px;
}

.vh-100{
	height: 100vh;
}
.container-h-300{
  height: 330px;
}
.shadow{
  box-shadow: 2px 0px 33px #242424;
}
.transition{
  transition: all 0.5s ease;
}
h1{
	font-family: 'orbitron';
}

.big-title{
	line-height: 1;
}
.yellowtail{
  font-family: "yellowtail";
}
.hidden{
	display: none;
}
.btn-outline-purple{
  border-color: purple;
  color: purple;
}

.fixed{
	position: absolute;
}


.border{
	height: 6px;
    width: 70px;
    margin: 15px 0;
}
#clockdiv{
    padding-top: 45px;
}
.count-down{
    background: rgba(255, 255, 255, 0.08);
	  padding: 10px;
    text-align: center;
    border-radius: 10%;
}
.count-down span.h2{
	display: block;
  font-size: 60px;
  font-family: "orbitron";
}


.page-number{
  z-index: 99;
	position: absolute;
	right: 5%;
	top: 270px;
}
.page-number li{
  opacity: 0.7;
	color: #ffffff;
  margin: 5px;
  border-radius: 50%;
  list-style: none;
  background-color: rgb(253, 213, 213);
  padding: 2px;
  width: 30px;
  height: 30px;
  text-align: center;
  transition: 0.8s;
  cursor: pointer;
}
.page-number li:hover, .pinky .on, .page-number li:hover, .red .on{
	opacity: 1 ;
}

.price-tag{
  font-family: sans-serif;
    border-radius: 50%;
    padding-top: 15px;
    margin: 5px 5px 5px 0px;
    width: 70px;
    height: 70px;
    display: inline-block;
    color: white;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
}


@media only screen and (min-width: 768px){
	.fixed{
		bottom: 60px;
	}
	.big-title{
		font-size: 80px;
  }
  .item-info,.item-sum{
    margin-top: 60px;
  }
  
}


@media only screen and (max-width: 767px) {
  	.fixed{
  		bottom: 30px;
  		z-index: 9;
  	}
    .count-down span.h2{
      font-size: 30px;
      margin-bottom: -8px;
    }
    .price-tag{
      padding-top: 9px;
    width: 50px;
    height: 50px;
    font-size: 10px;
    margin: 0 5px 0 0;
  }
    h1{
      font-size: 1.5rem;
    }
    h2{
      font-size: 1rem;
    }
    h3, h4{
      font-size: 0.8rem;
    }
    .item-sum{
    margin-top: 15px;
  }

}














#home-page .subinfo{
  line-height: 1.3;
  padding-left: 9px;
  color: #f284a9;
}
#home-page .text-bottom{
  line-height: 1;
  color: #c0c0c0;
  padding: 0 10px;
  position: absolute;
  bottom: 10px;
  font-size: 10px;
}
.home-product-name{
  font-family: 'orbitron';
  position: absolute;
  bottom: 10%;
  color: #fff;
  height: 18%;
}
.home-product-outline{
    opacity: 0.1;
    position: absolute;
}


.circle{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	box-shadow: -8px -10px 39px rgba(136, 136, 136, 0.38);
	transition: z-index 0.1s step-end, width 0.5s ease-in, height 0.5s ease-in, opacity 0.5s ease-in;
}
.circle:hover{
	width: 300px;
	height: 300px; 
	transition: z-index 0.1s step-start, width 0.5s ease-in, height 0.5s ease-in, opacity 0.5s ease-in;
}
.circle:hover .squra{
	top: -58%;
    left: 20%;
	cursor: pointer;
	opacity: 1;
	transition: z-index 0.1s step-start, width 0.5s ease-in, height 0.5s ease-in, opacity 0.5s ease-in;

}

.circle:hover .home-page-title{
	cursor: pointer;
	opacity: 1;
	top: 21%;
	left: 25%;
	transition: 1s
	
}
.squra{
	opacity: 0;
	top: -55%;
    left: 18%;
    z-index: -9;
    width: 250px;
    height: 250px;
    border: 7px solid #fff;
    position: relative;
    transition: z-index 0.5s step-end, width 0.5s ease-in, height 0.5s ease-in, opacity 0.5s ease-in;
}

.home-page-title{
	opacity: 0;
	top: 19%;
    position: relative;
    left: 28%;
}

.row:hover .circle:not(:hover){
	transform: scale(0.5);
	transition: 0.8s ease-in;
}

@media only screen and (min-width: 768px){

  .info-imgs{
    margin-top: -10%;
  }
  .add-to-cart{
    margin-top: 30px;
  }
  .vh-33{
    height: 100vh;
    overflow: hidden;
  }
  .home-product-outline{
    bottom: 30%;
    height: 65%;
    left: 10%;
  }

}

/*phone*/
@media only screen and (max-width: 767px){
  .circle{
    width: 200px;
    height: 200px;
  }
  .circle:hover{
    width: 250px;
    height: 250px; 
  }
  .home-page-title{
    opacity: 1;
  }
  .circle .display-3{
    font-size: 4rem;
  }
  .squra{
    width: 200px;
    height: 200px;
  }
  .info-imgs{
    margin-top: -25%;
  }
  .vh-33{
    height: 33.33vh;
    overflow: hidden;
  }
  #home-page h1, #home-page h4{
    font-size: 0.8rem;
  }
  .home-product-outline{
  width: 130%;
    height: auto;
    left: 0%;
  }



}
































.logo-icon{
  position: absolute;
  left: 15px;
  top: 15px;
  height: 90px;
}


.bg-shipping{
  background-image: url('../imgs/shipping.jpg');
  background-size: cover;
  background-position: center;
}

.bg-white{
	background-color: #fff;
}
.bg-gray{
  background-color: #dbdbdb;
}
.bg-pink{
	background-color: #ffb7cf;
}
.bg-pinky, .page-number.pinky li:hover, .pinky .on{
	background-color: #EB1583;
}
.text-pinky{
	color: #EB1583;
}
.text-purple{
	color: #A41FCA;
}
.text-silver{
  color: #c0c0c0;
}
#red, .red-radius{
    background: #8d1c1c; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffb7cf, #8d1c1c); /* For Safari 5.1 to 6.0 */
         background: -o-linear-gradient(#ffb7cf, #8d1c1c); /* For Opera 11.1 to 12.0 */
       background: -moz-linear-gradient(#ffb7cf, #8d1c1c); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#ffb7cf, #8d1c1c); /* Standard syntax */
}
body.red, .bg-red, .page-number.red li:hover, .red .on{
	background-color: #8d1c1c;
}
.text-red{
	color: #8d1c1c;
}

#purple, .purple-radius {
    background: #A41FCA; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffb7cf, #A41FCA); /* For Safari 5.1 to 6.0 */
         background: -o-linear-gradient(#ffb7cf, #A41FCA); /* For Opera 11.1 to 12.0 */
       background: -moz-linear-gradient(#ffb7cf, #A41FCA); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#ffb7cf, #A41FCA); /* Standard syntax */
}
body.purple, .bg-purple{
	background-color: #A41FCA;
}


































.product {
  animation: float 7s ease-out infinite;
}
@keyframes float {
  50% {
     transform: translate(0, 20px);

  }
}
footer{
  font-size: 9px;
}







@media (max-width: 991px) {
.my-lg-0 {
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  font-family: 'orbitron';
}
}































